<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA Company Tests" parallel="classes" thread-count="1">

    <test name="DBTests" verbose="1">
        <classes>
            <class name="qa.company.DbPostgresTest"/>
        </classes>
    </test>

</suite>

